// Outline всем элементам для удобства верстки,
// при необходимости раскомментировать и НЕ ЗАБЫВАТЬ КОММЕНТИРОВАТЬ ОБРАТНО при любых коммитах
// =========================

* {
  outline-color: var(--color-accent);
  // outline: 1px solid red;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;

  transition: color 150ms var(--timing-function), background-color 250ms var(--timing-function);

  // animation-name: fadeInDownBig;
  // animation-duration: 2000ms;

  &.modal-open {
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

body.light-theme {
  background-color: #ffffff;

  & .theme-switch {
    color: #f7f7f7aa;
  }
}

body.dark-theme {
  color: var(--color-light);
  background-color: #333333;

  & .theme-switch {
    color: #ff6b01aa;
  }

  & .our-team {
    background-color: #333333;

    & .name {
      color: var(--color-light);
    }

    & .title {
      color: var(--color-accent);
    }
  }

  & .modal-window,
  .auth-modal {
    background-color: #333333;
  }

  & .auth-modal__title,
  .auth-form__text {
    color: var(--color-light);
  }

  & .auth-form__input,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-light);
    -webkit-box-shadow: 0 0 0px 1000px #292929 inset !important;
    background-color: #333333 !important;
  }

  & .button-modal {
    color: var(--color-light);
    background-color: #333333;
    border-color: var(--color-light);

    &:hover {
      border-color: var(--color-accent);
      background-color: var(--color-accent);
    }
  }

  & .leftright,
  .rightleft {
    background-color: var(--color-light);
  }

  & .movie__name {
    color: var(--color-light);
  }

  & .page-footer__container {
    background-color: #292929;
  }

  & .swal2-validation-message {
    background-color: #292929;
    color: var(--color-error);
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;

  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #fff;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
