.container {
  margin: 0 auto;

  @include mobile-only {
    max-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include tablet-only {
    max-width: 768px;
    padding-right: 75px;
    padding-left: 75px;
  }

  @include desktop-only {
    max-width: 1024px;
    padding-right: 70px;
    padding-left: 70px;
  }
}
