<form class='auth-form'>
  <div class='cl-btn'>
    <div class='leftright'></div>
    <div class='rightleft'></div>
    <span class='close-btn close-auth-modal'>
      close
    </span>
  </div>
  <input
    type='email'
    id='email'
    class='swal2-input auth-form__input'
    placeholder='Email'
    autocomplete=''
  />
  <input
    type='password'
    id='password'
    class='swal2-input auth-form__input'
    placeholder='Password'
    minlength='6'
    min='6'
  />
  <p class='auth-form__text'>
    Don't have account?
  </p>
  <button class='auth-form__button auth-form__reg-button' type='button' data-button='signUp'>
    Registration
  </button>
  <p class='auth-form__text auth-form__text-password'>
    Forgot password?
  </p>
  <button class='auth-form__button auth-form__reset-button' type='button' data-button='reset-pwd'>
    Reset
  </button>
</form>