{{#each this}}
  <li class='films-list__card'>
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt='' class='films-list__cover' />
    <h2 class='films-list__title'>
      {{title}}
    </h2>
    <ul class='films-list__genre-list'>
      <li class='films-list__genre-item'>
        {{genre}} â˜ {{release_date}}
      </li>
    </ul>
  </li>
{{/each}}