<div class="backdrop is-hidden">
  <div class="modal-window">
    <div class="cl-btn">
      <div>
        <div class="leftright"></div>
        <div class="rightleft"></div>
        <span class="close-btn">close</span>
      </div>
    </div>
    <img class="card-poster"
      src="https://pixabay.com/get/g8b6b9ce2f242ee464392b0c6cbf5e8a5a4869bba90e629eb57140f32f00272bd59c6974fe152b45bcb4b53890f54f2ca9a9fe9096c1cba3767759e7dbde47fbf_640.jpg"
      alt="poster" />

    <div>
      <div class="card-details">
        <h2 class="card-title">A FISTFUL OF LEAD</h2>
        <ul class="card-list">
          <li class="card-item">
            <p class="card-item__about">Vote / Votes</p>
            <p><span class="vote">7.3</span> / 1260</p>
          </li>
          <li class="card-item">
            <p class="card-item__about">Popularity</p>
            <p>100.2</p>
          </li>
          <li class="card-item">
            <p class="card-item__about">Original Title</p>
            <p>A FISTFUL OF LEAD</p>
          </li>
          <li class="card-item">
            <p class="card-item__about">Genre</p>
            <ul>
              {{#each this}}
              <li>Western</li>
              {{/each}}
            </ul>
          </li>
        </ul>
        <h2 class="card-about">About</h2>
        <p class="card-description">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
      </div>
      <div class="card-button-modal">
        <button class="button-modal button-watched" type="button">add to watched</button>
        <button class="button-modal button-queue" type="button">add to queue</button>
      </div>
    </div>
  </div>
</div>