{{#each this}}
    <li class="movie__card">
        <img class="movie-card__photo"
            src=""
            data-src="" alt="" />
        <h4 class="movie-card__name"></h4>
        <div class="movie-card__info">
            <p class="movie-card__genres"></p>
            <p class="movie-card__rating"></p>
        </div>
    </li>
{{/each}}