{{#each this}}
    <section class="catalog">
        <div>
            <ul class="catalog__movie">
                <li class="movie">
                    <img class="movie__photo" src="" data-src="" alt="" />
                    <h2 class="movie__name"></h2>
                    <div class="movie__info">
                        <p class="movie__genres"> | </p>
                        <p class="movie__rating"></p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{{/each}}