<form class='search-form' name='search-form' autocomplete='off' onsubmit='return false'>
  <input
    class='search-form__input'
    type='text'
    id='search-input'
    placeholder='The Fast and the Furious'
  />
  <label class='search-form__label' for='search-input'>
    Введите название фильма
  </label>
  <i class='material-icons search-form__icon'>
    search
  </i>
</form>