<ul class='library__list'>
  <li class='library__item'>
    <button type='button' class='button library__button'>
      Watched
    </button>
  </li>
  <li class='library__item'>
    <button type='button' class='button library__button'>
      Queue
    </button>
  </li>
</ul>