<div class='pagination__list'>
  <button
    class='pagination__arrow pagination__arrow--left disabled'
    data-arrow-left='arrow'
    disabled
  >
    <span class='material-icons pointer-events' data-arrow-left='arrow' aria-disabled='true'>
      arrow_back
    </span>
  </button>
  <div class='pagination__number-list'>
    <a class='pagination__number first pagination__number--active' data-index='1'>
      1
    </a>
    <a class='pagination__number' data-index='2'>
      2
    </a>
    <a class='pagination__number' data-index='3'>
      3
    </a>
    <a class='pagination__number' data-index='4'>
      4
    </a>
  </div>
  <button class='pagination__arrow pagination__arrow--right' data-arrow-right='arrow'>
    <span class='material-icons' data-arrow-right='arrow'>
      arrow_forward
    </span>
  </button>
</div>