  <div id='carouselExampleControls' class='carousel slide' data-interval="false" data-bs-pause='hover' data-bs-touch="true">
    <div class='carousel-inner ' >
      <div class='carousel-item  '>
        <iframe
          {{!-- width='725'
          height='408' --}}
          src="https://www.youtube.com/embed/{{key}}"
          title='YouTube video player'
          frameborder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowfullscreen
        >
        </iframe>
      </div>
      </div>
    </div>
  </div>