{{#each this}}
<li class='watched_movie__item'>
    <img class='watched_movie__photo'
    {{#if src}}
        src="https://image.tmdb.org/t/p/w300/{{src}}"
    {{else}}
        src='https://westsiderc.org/wp-content/uploads/2019/08/Image-Not-Available.png'
    {{/if}}
    alt="{{title}}"
    data-movie-id="{{id}}" />
</li>
{{/each}}