{{#each this}}
<li class='watched_movie__item'>
    <img class='watched_movie__photo' 
    src="https://image.tmdb.org/t/p/w300/{{src}}" 
    alt="{{title}}"
    data-movie-id="{{id}}" />
</li>
{{/each}}