<div class="team js-team"></div>

<div class="page-footer__container">
  <p class="page-footer__rights">&copy 2020 | All Rights Reserved |</p>
  <p class="page-footer__develops">
    Developed with
    <svg class="icon-heart" width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7 13.188l-.98-.97C2.38 9.03 0 6.88 0 4.248 0 2.097 1.68.435 3.85.435 5.04.436 6.23.99 7 1.89A4.224 4.224 0 0110.15.436C12.32.436 14 2.099 14 4.247c0 2.634-2.38 4.783-6.02 7.97l-.98.971z"
        fill="#FF6B08"
      />
    </svg>
    by <button class="button-team">GoIT Students</button>
  </p>
</div>
