<main class="main">
    <ul class="movie">
        <!-- Список <li> с карточками изображений -->

                <li class="movie__card">
                    <img class="movie-card__photo"
                        src="https://pixabay.com/get/ga2edf29a74add263a8b9075146d8f8b43315ea99f197e53ad2bd9b701eb8b6c38e066cddc53ffd9afc039bc2268c7a5360466ba87338867b6260ed19b2a83ce1_640.jpg"
                        data-src="" alt="" />
                    <h4 class="movie-card__name">BAD BOYS FOR LIFE</h4>
                    <div class="movie-card__info">
                        <p class="movie-card__genres">Action, Comedy | 2020</p>
                        <p class="movie-card__rating">4.5</p>
                    </div>
                </li>

    </ul>
</main>
