<form class='auth-form'>
  <input
    type='email'
    id='email'
    class='swal2-input auth-form__input'
    placeholder='Email'
    autocomplete=''
  />
  <input
    type='password'
    id='password'
    class='swal2-input auth-form__input'
    placeholder='Password'
  />
  <p class='auth-modal__text'>
    Don't have account?
    <button class='auth-form__button' type='button'>
      Create!
    </button>
  </p>
</form>