.logo {
  display: inline-block;
  margin-right: auto;
  cursor: pointer;
  animation-name: bounceInDown;
  animation-duration: 1500ms;
  // animation-delay: 1500ms;
}

.logo__title {
  margin-left: 10px;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;

  transition: color 250ms var(--timing-function);

  @include mobile-only {
    display: none;
  }
}
