.section {
  padding-top: 10px;
  background-color: var(--color-light);
}
.watched_movie__photo {
  @include tablet-only {
    width: 65px;
    max-height: 87px;
  }

  @include desktop-only {
    width: 92px;
    max-height: 120px;
  }
}

.watched-films {
  padding-bottom: 10px;
  border-bottom: 3px solid white;
  @include mobile-only {
    display: none;
  }

  @include tablet-only {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
  }

  @include desktop-only {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 7px;
  }
}

.watched-films-title {
  margin-bottom: 10px;
}
