.section_watched_films {
  padding-top: 10px;
  background-color: var(--color-light);
}
.watched_movie__photo {
  @include tablet-only {
    width: 65px;
    max-height: 87px;
  }

  @include desktop-only {
    width: 92px;
    max-height: 120px;
  }
}

.watched-films {
  padding: 10px 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  @include mobile-only {
    display: none;
  }

  @include tablet-only {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
  }

  @include desktop-only {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 7px;
  }
}

.watched-films-title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.watched_movie__item {
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%);

  & img {
    border-radius: 5px;
  }

  &:hover {
    cursor: pointer;
  }
}
